<mat-card class="" *ngIf="detailedBlog">
    <mat-card-content>
        {{detailedBlog.content}}
    </mat-card-content>
    <form>
        <mat-form-field>
            <mat-label>New Comment</mat-label>
            <input name="commentText" required minlength="30" maxLength="260" matInput #commentText placeholder="Ex. It makes me feel...">
        </mat-form-field>
        <span>
            <button mat-flat-button color="primary" (click)="submitComment(commentText.value, $event); commentText.value=''">Save</button>
        </span>
    </form>
    Comments <span *ngIf="detailedBlog.comms">{{detailedBlog.comms.length}}</span>
    <div *ngIf="detailedBlog.comms">
        <div *ngFor="let comm of detailedBlog.comms" class="comment">
            <!-- <span class="like">
                <mat-icon class="icons">favorite</mat-icon>
            </span> -->
            <mat-card-subtitle class="date">
                {{comm.date_created | date:'MM/dd/yy, h:mm a'}}
            </mat-card-subtitle> 
            <span class="content">
                {{comm.content}}
            </span>
        </div>
    </div>
</mat-card>