mat-form-field {
    min-width: 350px;
    width: 70%;
    margin-right: .5rem;
}

.comment {
    display: flex;
    flex-direction: row;
    .date {
        margin-bottom: 0;
        display: inline-block;
        flex:0 0 auto;
        margin-right: .3rem;
    }
    // .icons {

    // }
}
