<!-- <h2>Submit a new post</h2> -->
<div class="example-container">
    <form>
        <mat-form-field>
            <mat-label>Post a Thought</mat-label>
            <textarea name="blogText" required minlength="30" maxLength="1000" matInput #blogText placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" (click)="submitPost(blogText.value, $event);">Submit your post</button>
        </div>
    </form>
</div>
