.blog-card {
    margin: .5rem 0;
    cursor: pointer;
    .subtitle {
        display: flex;
        justify-content: space-between;
    }
    .comments {
        display: flex;
        align-items: center;
        .icons {
            margin-right: 4px;
            height: 16px;
            width: 16px;
            font-size: 1rem;
        }
    }
}

.blogs-container {
    padding: 0 .5rem;
}