.blog-card {
    margin: .5rem 0;
    cursor: pointer;
    .subtitle {
        display: flex;
        justify-content: space-between;
    }
    .comment-icon {
        font-size: .8rem;
    }
}

.blogs-container {
    padding: 0 .5rem;
}