<div class="container">
    <form>
        <mat-form-field>
            <mat-label>Search Thoughts</mat-label>
            <!-- <input #searchQuery id="search-box" (input)="search(searchQuery.value)" /> -->
            <input matInput name="searchQuery" (input)="search(searchQuery.value)" #searchQuery placeholder="Ex. It makes me feel...">
        </mat-form-field>
    </form>
</div>
<div *ngIf="blogs$; else elseBlock">
    Some blogs are found
</div>
<ng-template #elseBlock>
    No blogs were found or searched
</ng-template>
